<nav class='backNav'>
  <button mat-button color='warn' routerLink=''>Back</button>
</nav>
<div class='diffHolder'>
  <nav class='diffNav'>
    <button class='diffBtn' mat-raised-button *ngFor="let difficulty of courseData?.holes[0].teeBoxes"
      (click)='onDifficultySelect(difficulty)'>{{difficulty.teeType}}</button>
  </nav>
</div>
<div *ngIf='selectedDiffIdx != null'>
  <div class='newPlayerHolder'>
    <mat-form-field>
      <input matInput type='text' placeholder="Player Name" [formControl]="playerControl">
    </mat-form-field>
    <button class='addPlayerBtn' mat-raised-button color='primary' (click)='addPlayer()'>Add</button>
  </div>
  <mat-card class="headerCard">
    <div class='golfCardHeader'>
      <div class='golfCardTitle'>
        <mat-card-title>{{courseData.name}}</mat-card-title>
        <mat-card-subtitle>{{courseData.addr1}}, {{courseData.city}}</mat-card-subtitle>
      </div>
      <div class='golfCardTitle'>
        <mat-card-title>Par {{coursePar}}</mat-card-title>
        <mat-card-subtitle>HandiCap {{courseHandiCap}}</mat-card-subtitle>
      </div>
      <div class='golfCardTitle'>
        <mat-card-title>{{holeDifficulty}}</mat-card-title>
      </div>
    </div>
  </mat-card>
  <mat-card class='holeInfoCard'>
    <div class='holeInfoTopHolder'>
      <div class='forCssFix'>
        <div class='left'></div>
        <div class='holeNumber'>1</div>
        <div class='holeNumber'>2</div>
        <div class='holeNumber'>3</div>
        <div class='holeNumber'>4</div>
        <div class='holeNumber'>5</div>
        <div class='holeNumber'>6</div>
        <div class='holeNumber'>7</div>
        <div class='holeNumber'>8</div>
        <div class='holeNumber'>9</div>
        <div class='holeNumber'>10</div>
        <div class='holeNumber'>11</div>
        <div class='holeNumber'>12</div>
        <div class='holeNumber'>13</div>
        <div class='holeNumber'>14</div>
        <div class='holeNumber'>15</div>
        <div class='holeNumber'>16</div>
        <div class='holeNumber'>17</div>
        <div class='holeNumber'>18</div>
      </div>
      <div class='right'>
        <div class='rightTitle'>Total Scores</div>
      </div>
    </div>
    <div class='holeInfoMainHolder'>
      <div class='holeInfoHolder'>
        <div class='holeInfoRow'>
          <div class='holeInfo holeInfoTitle'>Yards</div>
          <div class='holeInfo' *ngFor='let hole of courseData?.holes'>{{hole.teeBoxes[selectedDiffIdx].yards}}</div>
        </div>
        <div class='holeInfoRow'>
          <div class='holeInfo holeInfoTitle'>Hcp</div>
          <div class='holeInfo' *ngFor='let hole of courseData?.holes'>{{hole.teeBoxes[selectedDiffIdx].hcp}}</div>
        </div>
        <div class='holeInfoRow'>
          <div class='holeInfo holeInfoTitle'>Par</div>
          <div class='holeInfo' *ngFor='let hole of courseData?.holes'>{{hole.teeBoxes[selectedDiffIdx].par}}</div>
        </div>
      </div>
      <div class='totalsHolder'>
        <p>Out</p>
        <p>In</p>
        <p>Total</p>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <div class='playerHolder' *ngFor='let player of playerService.players; let playerIdx = index'>
      <div class='holeScoreHolder forCssFix'>
        <div class='playerName'>{{player.name}}</div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[0]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[1]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[2]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[3]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[4]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[5]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[6]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[7]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[8]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[9]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[10]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[11]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[12]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[13]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[14]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[15]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[16]' />
        </div>
        <div>
          <input class='holeScore' type='number' [(ngModel)]='playerService.players[playerIdx].scores[17]' />
        </div>
      </div>
      <div class='playerRight right'>
        <div class='totalScores'>
          <div class='totalScore totalOut'></div>
          <div class='totalScore totalIn'></div>
          <div class='totalScore totalTotal'></div>
        </div>
      </div>
    </div>
  </mat-card>
  <nav *ngIf='playerService.players.length > 0' class='bottomNav'>
    <button class='clearDbBtn' mat-raised-button color='warn' (click)='clearDb()'>Clear Database</button>
    <button class='finishBtn' mat-raised-button color='primary' (click)='finishGame()'>Finish</button>
  </nav>
</div>
