.backNav {
  padding: 10px;
}

.diffHolder {
  display: flex;
  justify-content: center;
}

.diffNav {
  padding: 10px;
}

.diffBtn {
  margin: 5px;
}

.titleText {
  text-align: center;
  font-size: 1.2em;
  font-weight: 900;
}

.newPlayerHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPlayerBtn {
  height: 36px;
  margin: 10px;
}

mat-card {
  margin: 25px 50px;
}

.golfCardHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 20px;
}

.golfCardTitle {
  margin: 0 10px;
  min-width: 224.8px;
  text-align: center;
}

.holeInfoTopHolder {
  display: flex;
  justify-content: space-between;
}

.forCssFix {
  display: flex;
  justify-content: space-between;
  min-width: 84%;
}

.left {
  min-width: 100px;
}

.holeNumber {
  color: #3F51B5;
  font-weight: 900;
  font-size: 1.2em;
  min-width: 27px;
  text-align: center;
}

.right {
  min-width: 14%;
}

.rightTitle {
  font-weight: 900;
  font-size: 1.2em;
  min-width: 27px;
  text-align: center;
}

.holeInfoMainHolder {
  display: flex;
  justify-content: space-between;
}

.holeInfoHolder {
  min-width: 84%;
}

.holeInfoRow {
  display: flex;
  justify-content: space-between;

}

.holeInfo {
  min-width: 27px;
  text-align: center;
}

.holeInfoTitle {
  font-size: 1.2em;
  min-width: 100px;
  text-align: left;
}

.totalsHolder {
  min-width: 14%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerHolder {
  display: flex;
  justify-content: space-between;
}

.playerName {
  font-size: 1.2em;
  min-width: 100px;
  text-align: left;
}

.holeScoreHolder {
  display: flex;
  justify-content: space-between;
}

.holeScore {
  width: 27px;
  text-align: right;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.playerRight {
  text-align: center;
}

.totalScores {
  min-width: 14%;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.totalScore {
  min-width: 43px;
  text-align: center;
}

.bottomNav {
  margin: 25px 50px;
  display: flex;
  justify-content: flex-end;
}
