<nav class='backNav'>
  <button mat-button color='warn' routerLink=''>Back</button>
</nav>
<div class='diffHolder'>
  <nav class='diffNav'>
    <button class='diffBtn' mat-raised-button *ngFor="let difficulty of courseData.holes[0].teeBoxes"
      (click)='onDifficultySelect(difficulty)'>{{difficulty.teeType}}</button>
  </nav>
</div>
<div *ngIf='selectedDiffIdx != null'>
  <mat-card class="golfCard">
    <mat-card-header class='golfCardHeader'>
      <div class='golfCardTitle'>
        <mat-card-title>{{courseData.name}}</mat-card-title>
        <mat-card-subtitle>{{courseData.addr1}}, {{courseData.city}}</mat-card-subtitle>
      </div>
      <div class='golfCardTitle'>
        <mat-card-title>Par {{coursePar}}</mat-card-title>
        <mat-card-subtitle>HandiCap {{courseHandiCap}}</mat-card-subtitle>
      </div>
      <div class='golfCardTitle'>
          <mat-card-title>{{holeDifficulty}}</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content>
        <!-- <p *ngFor='let hole of courseData.holes'>{{hole.teeBoxes[selectedDiffIdx].yards}}</p> -->
    </mat-card-content>
  </mat-card>
</div>
