.backNav {
  padding: 10px;
}

.diffHolder {
  display: flex;
  justify-content: center;
}

.diffNav {
  padding: 10px;
}

.diffBtn {
  margin: 5px;
}

.newPlayerHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPlayerBtn {
  height: 36px;
  margin: 10px;
}

mat-card {
  margin: 25px 50px;
}

.golfCardHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 20px;
}

.golfCardTitle {
  margin: 0 10px;
  min-width: 224.8px;
  text-align: center;
}

.holeInfoTopHolder {
  display: flex;
  justify-content: space-between;
}

.forCssFix {
  display: flex;
  justify-content: space-between;
  min-width: 84%;
}

.left {
  min-width: 100px;
}

.holeNumber {
  min-width: 27px;
  text-align: center;
}

.right {
  min-width: 14%;
}

.holeInfoMainHolder {
  display: flex;
  justify-content: space-between;
}

.holeInfoHolder {
  min-width: 84%;
}

.holeInfoRow {
  display: flex;
  justify-content: space-between;

}

.holeInfo {
  min-width: 27px;
  text-align: center;
}

.holeInfoTitle {
  min-width: 100px;
  text-align: left;
}

.totalsHolder {
  min-width: 14%;
  display: flex;
  justify-content: space-between;
}
