.backNav {
  padding: 10px;
}

.diffHolder {
  display: flex;
  justify-content: center;
}

.diffNav {
  padding: 10px;
}

.diffBtn {
  margin: 5px;
}

.newPlayerHolder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addPlayerBtn {
  height: 36px;
  margin: 10px;
}

mat-card {
  margin: 25px 50px;
}

.golfCardHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0 20px;
}

.golfCardTitle {
  margin: 0 10px;
  min-width: 224.8px;
  text-align: center;
}
